.nav{
    align-items: center;
    margin: auto 0;
    
}
nav > a {
    padding: 2.5px;
    margin-right: 5px;
    text-decoration: none;
  }
  nav > a.active {
    background-color: blue;
  }
  .header-row{
    width: 100%;
  }
  .header-toolbar {
    margin-bottom: 20px;
  }

.header{
    background-color: #000;
}

.imagen-header{
    align-items: center;

}
.imagen-header img{
    height: 55px;
}
